<div>
  <nav class="navbar-lewagon navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">FREELA
      <%= image_tag("Freela.png",  :alt => "logos", :class => "logos-navbar") %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-decoration-none" aria-current="page"  href="/">Home</a>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <a class="nav-link text-decoration-none" aria-current="page" href="/projects/new">Create a Project</a>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none" href="/projects">Browse Projects</a>
          </li>
        </ul>
          <nav class="nav-item">
            <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" href="#" aria-expanded="false" data-bs-toggle="dropdown"><%= image_tag("user-52.png",  :alt => "logos", :class => "logos-profile") %>
              </a>
            <% end %>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
            <li>
              <% unless current_page?(new_user_session_path) %>
                <% if user_signed_in? %>
                    <a class="dropdown-item"> <%= link_to "Log-out", destroy_user_session_path, method: :delete, data: { turbo_method: 'delete' }, class: "dropdown-item" %> </a>
                <% else %>
                  <a a class="nav-link"> <%= link_to "Login", href="/users/sign_in", class: "nav-link-login" %></a>
                <% end %>
              <% end %>
            </li>
          </ul>

          </nav>
          <nav class="nav-item">

          <% unless current_page?(new_user_session_path) %>
              <% unless user_signed_in? %>
                <a a class="nav-link"> <%= link_to "Login", href="/users/sign_in", class: "nav-link-login" %>
              <% end %>
            <% end %>

            <% if current_page?(new_user_session_path) %>
              <a a class="nav-link text-decoration-none"> <%= link_to "Sign Up", "/users/sign_up", class: "nav-link-sign-up" %>
              </a>
            <% end %>
          </nav>
      </div>
    </div>
  </nav>
</div>
