<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Welcome to <strong>Freela</strong>!</h1>
    <p>Browse through interesting start-up ideas, find a match and collaborate!</p>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for a project" aria-label="Search bar" aria-describedby="button-addon2">
        <button class="btn btn-primary btn-lg" type="button" id="button-addon2">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="subtitle">Popular projects</h2>
  <div class="col-lg-4 d-flex flex-column">
    <%= image_tag "running.jpg", alt: "Movie icon", class:"rounded-circle", width:"140", height:"140"%>
    <h3>VerSe</h3>
    <p class="details">Start-up app for young internationals to find a sports buddy around Amsterdam. We are currently seeking for an UX/UI designer for a rebranding on our website.</p>
    <p><a class="btn btn-secondary align-self-baseline" href="#" role="button" id="fbtn">View details »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 d-flex flex-column">
    <%= image_tag "coffee.jpg", alt: "Movie icon", class:"rounded-circle", width:"140", height:"140"%>
    <h3>Coffee & Code</h3>
    <p class="details">A platform where you can find freelance hospitality workers for your cafe or restaurant. We are looking for a developer to partner up on our start-up and maintain the daily operations within the website.</p>
    <p><a class="btn btn-secondary align-self-end" href="#" role="button">View details »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 d-flex flex-column">
    <%= image_tag "tractor.jpg", alt: "Movie icon", class:"rounded-circle", width:"140", height:"140"%>
    <h3>HappyTractor</h3>
    <p class="details">We sell second hand parts for your tractor or agricultural machines. We are currently looking for a developer to setup our online store. </p>
    <p><a class="btn btn-secondary align-self-end" href="#" role="button">View details »</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Start-ups:<span class="text-muted"> Stick to your budget</span></h2>
      <p class="lead">Find the right service for every price point. No hourly rates, just project-based pricing. Don't have a lot of room for budget? Offer a partnership or profit shareholding instead! Developers might be looking for cool projects to contribute in exchange for market experience and practice.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "content-pixie-0z7dmskP70E-unsplash.jpg", alt: "Movie icon",  class:"featurette-image img-fluid mx-auto object-fit-contain" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Developers: <span class="text-muted"> Finds what is interesting for you</span></h2>
      <p class="lead">Find project ideas that you find interesting and you would like to collaborate. Found something you like? Apply! Perhaps the next million-dollar idea is sitting right in front of you!</p>
    </div>
    <div class="col-md-5 order-md-1" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500">
      <%= image_tag "toa-heftiba-kRwu0xbHBlA-unsplash.jpg", alt: "Movie icon",  class:"featurette-image img-fluid mx-auto object-fit-contain" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Is it a match? <span class="text-muted">Let's start working!</span></h2>
      <p class="lead">Once a developer applies to collaborate on a project, the start-up founder can review their profile and accept (or not) their application. Once an application is accepted, then it is time to discuss further details and get to work!</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "zan-lazarevic-AmEeEB1g3XQ-unsplash.jpg", alt: "Movie icon", class:"featurette-image img-fluid mx-auto object-fit-contain" %>
  </div>

  <hr class="featurette-divider">

</div>
