<div class="container pb-3">
  <div class="containerr">
    <hr class="featurette-divider">
    <div class="image-n-title pb-3">
      <h1 class="proheader">Profile</h1>
        <div class="profile-images-div">

            <%= image_tag "https://source.unsplash.com/random/?{user}", alt: "Profile icon", class:"profile-pic", height:"350" %>

        </div>
    </div>
    <div class="personal-detailsss">
    <h2 class="mineinfo">Personal Details</h2>
    <hr class="featurette-divider">
      <div class="container pb-3">

        <div class="user-informations d-flex justify-content-between">
          <div class="personal-details">

              <div class="full-name p-3">
                <h3 class="first-name"><%= @user.first_name %></h3>
                <h3><%= @user.last_name %></h3>
              </div>
              <div class="p-3">
                <h5 class="details-title">E-mail</h5>
                <h6 class="user-mail"><%= @user.email %></h6>
              </div>
              <div class="p-3">
                <h5 class="details-title">Skills</h5>
                <h6 class="personal-details"><%= @user.skills %></h6>
              </div>
              <div class="p-3">
                <h5 class="details-title">About Me</h5>
                <h6 class="personal-details"><%= @user.about %></h6>
              </div>
              <p><a class="btn btn-secondary align-self-baseline mx-3 align-self-end rounded-5" href="/users/edit" role="button" id="edit-btn">Edit Profile</a></p>
              </div>

          </div>


        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
</div>
