<div class="container pb-3">
  <div class="containerr">
    <hr class="featurette-divider">
    <div class="image-n-title pb-3">
      <h1 class="proheader">Profile</h1>
        <div class="profile-images-div">

            <%= image_tag "https://source.unsplash.com/random/?{user}", alt: "Profile icon", class:"profile-pic", height:"250" %>

        </div>
    </div>
    <div class="personal-detailsss">
    <h2 class="mineinfo">Personal Details</h2>
    <hr class="featurette-divider">
      <div class="container pb-3">

        <div class="user-informations d-flex justify-content-between">
          <div class="personal-details">

              <div class="full-name">
                <h3 class="first-name"><%= @user.first_name %></h3>
                <h3><%= @user.last_name %></h3>
              </div>
              <div class="details-title">
              <h5>E-mail</h5>
              </div>
              <div class="user-mail">
                <h6><%= @user.email %></h6>
              </div>
              <div class="details-title">
                <h5>Skills</h5>
              </div>
              <div class="personal-details"><%= @user.skills %></div>
              <div class="details-title">
              <h5>Mora About Me</h5>
              </div>
              <div class="personal-details"><%= @user.about %></div>
              <div>
              <p><a class="btn btn-secondary align-self-baseline mx-5 align-self-end rounded-5" href="/users/edit" role="button" id="edit-btn">Edit Profile</a></p>
              </div>

          </div>


        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
</div>
