<div class="container">
  <%= simple_form_for(@project) do |f| %>
    <%= f.input :name %>
    <%= f.input :skill %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Back to home", root_path  %>
</div>
