<div class="container pt-3">
  <div class="card-body">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <h2><%= @project.name %></h2>
    <h5 class="card-title"><%= @project.user.email %></h5>
    <p class="card-text"><%= @project.description %></p>
    <p class="card-text"><%= @project.skill %></p>
    <!-- <a href="#" class="btn btn-primary">Sign Up</a>-->
  </div>

  <% if @project.user != current_user %>
    <div>
      <%= simple_form_for [@project, @collaboration] do |f| %>
        <%= f.submit "Book", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
  <!--
  1. Need to convert skill to an array in project model
  2. Implement an iterator to add skill to a skill div
  -->
<div>
